@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* ✅ Add your own variables */
  --primary: #000000;
  --background-light: #f6f6f8;
  --background-dark: #101022;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ Map your new variables into Tailwind colors */
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  /* ✅ Font and Radius */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



/* responsive css for mobile  */

/* Hide horizontal scrollbar but keep scroll active */
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
